<h1>The Code Louisville Alumni Blog</h1>
<h2>Thank you to the founders of Code Louisville.  Many lives have been upgraded due to your visionary gifts and diligence to make this happen.</h2>
<h2>Graduates and current students:</h2>
<h3>Share your story</h3>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="5"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>